<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/About.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="AboutDiv">
      <h1>About Us</h1>
      <div class="AboutImg">
        <div class="_1img">
          <img src="/static/Images/logo.png" alt="Rajesh" />
        </div>
        <div class="_2img">
            <div>
                <img src="/static/Images/lv.jpeg" alt="Likhith" />
                <h1>Likhith V  </h1>
                <p>Programmer</p>
              </div>
            <div >
                <img src="/static/Images/RN.jpeg" alt="Rajesh" />
                <h1>Rajesh N</h1>
                <p>Programmer</p>
              </div>
          <div>
            <img src="/static/Images/NBS.jpeg" alt="Nagraj" />
            <h1>Nagraj BS</h1>
            <p>Programmer</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
