<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Course.css">
    <title>Course</title>
</head>
<body>
<!-- Navbar -->

<!-- Course -->
<div class="container"> 
    <h1 class="h1">Courses</h1>
<div class="cards">
   <a href="">
<div>
    <img src="/static/Images/Web development.jpg" alt="">
</div>
<div class="cardDesc">
    <h1>Video Title</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid nesciunt corporis dolores, porro cupiditate, in facilis repudiandae nisi optio consequuntur modi non quam odio nihil asperiores autem. Natus, quibusdam voluptates.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quia quod, repudiandae, illum quidem delectus architecto impedit aliquam recusandae reiciendis, esse libero ullam est eveniet eaque in fuga consequatur tempore!
        lorem
    </p>
    <button>Completed</button>
</div>
</a>
</div>
<div class="cards">
    <a href="">
 <div>
     <img src="/static/Images/Web development.jpg" alt="">
 </div>
 <div class="cardDesc">
     <h1>Video Title</h1>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid nesciunt corporis dolores, porro cupiditate, in facilis repudiandae nisi optio consequuntur modi non quam odio nihil asperiores autem. Natus, quibusdam voluptates.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quia quod, repudiandae, illum quidem delectus architecto impedit aliquam recusandae reiciendis, esse libero ullam est eveniet eaque in fuga consequatur tempore!
         lorem
     </p>
     <button>Completed</button>
 </div>
 </a>
 </div>
</div>

</body>
</html>