<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Flask</title>
</head>
<body>
    <div>
        <nav>
            <h1><a href="">CourseTera</a></h1>
            <ul>
                <li><a href="Index.html">Home</a></li>
                <li><a href="StudentLogin.html">Student Login</a></li>
                <li><a href="TeacherLogin.html">Teacher Login</a></li>
                <!-- <li><a href="">Blog</a></li> -->
            </ul>
        </nav>
    </div>
</body>
</html>