<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/Purchase.css">
    <title>Purchase</title>
</head>
<body>
    <div class="PurchaseDiv">
        <div class="PurchaseLeft">
            <div class="Pcards">
                <h2>Title</h2>
                <h3>Price</h3>
            </div>
        </div>
        <div class="PurchaseRight">
        <form action="">
            <h1>Payment</h1>
            <label for="">Name</label>
            <input type="text" placeholder="Enter Name">
            <label for="">Phone Number</label>
            <input type="number" placeholder="Enter PhoneNumber">

            <label>Address</label>
            <input type="text" placeholder="Enter Address">
            <label for="">Select Country</label>
            <select name="Country" id="">
                <option value=""></option>
                <option value="ind">INDIA</option>
                <option value="usa">USA</option>
                <option value="rus">RUSSIA</option>
            </select>
            <label for="">Select State</label>
            <select name="State" id="">
                <option value=""></option>
                <option value="kar">KARNATAKA</option>
                <option value="tn">TAMIL NADU</option>
                <option value="Anp">ANDRA PRADESH</option>
            </select>
            <label for="">Transaction Id</label>
            <input type="text" placeholder="Enter Transaction Id">
            <button type="submit">SUBMIT</button>
        </form>
    </div>
    </div>
</body>
</html>