<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/Login.css">
    <title>Student Login</title>
</head>
<body>
    <div>
        <nav>
            <h1><a href="">CourseTera</a></h1>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="StudentLogin.html">Student Login</a></li>
                <li><a href="TeacherLogin.html">Teacher Login</a></li>
                <!-- <li><a href="">Blog</a></li> -->
            </ul>
        </nav>
    </div>

              <form class="stuLogin" action="/" method="post">
                  <h1>CourseTera</h1>
                  <h3>Student</h3>
                  <div class="container">
                    <label for="uname"><b>Username</b></label>
                    <input type="text" placeholder="Enter Username" name="uname" required>
              
                    <label for="psw"><b>Password</b></label>
                    <input type="password" placeholder="Enter Password" name="psw" required>
                      
                    <button type="submit">Login</button>
                  </div>
                  <div class="spanTxt">
                    <span class="txt">Forgot <a href="#">password?</a></span>
                    <span class="txt">New User? <a href="#">Register</a></span>
                </div>
                  </div>
                </form>
              </div>
          </body>
          </html>
        
          
        </div>
      </form>
    </div>
</body>
</html>