<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/TeacherDash.css">
    <title>Teacher Dashboard</title>
</head>

<body>
        <div class="TeacherDashContent" id="Main-List">
                <div class="navButton">
                    <h1>Teacher's Dashboard</h1>
                    <div>
                        <button onclick="showStudentList()" id="stBtn">Student List</button>
                        <button onclick="showCourseList()" id="CBtn">Course List</button>
                    </div>

                </div>
                
                <!-- Student List -->
                <div class="table" id="StudentList" style="display: none;">
                    <h2 class="h2">Student List</h2>
                <table>
                    <tr>
                        <th>Stu_id</th>
                        <th>Stu_uname</th>
                        <th>Stu_email</th>
                        <th>Stu_pwd</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>nagi</td>
                        <td>nagimaggi</td>
                        <td>nagimaggi@noodles.com</td>
                        <td>naginigga</td>
                        <td class="buttonTd">
                            <button style="background-color: green;">Add</button>
                            <button style="background-color: red;">Delete</button>
                            <button style="background-color: blue;">Update</button>
                        </td>
                    </tr>
                    
                    
                </table>
            </div>
            
            <!-- Course List -->
            <div class="table" id="CourseList" style="display: none;">
                <h2>Course List</h2>
                <table>
                    <tr>
                        <th>course_id</th>
                        <th>course_name</th>
                        <th>course_desc</th>
                        <th>course_abc</th>
                        <th>Action <button class="addBtn" onclick="openCourse()">Add</button> </th>
                    </tr>
                    <tr>
                        <td>nagi</td>
                        <td>nagimaggi</td>
                        <td>nagimaggi@noodles.com</td>
                        <td>naginigga</td>
                        <td class="buttonTd">
                            <button style="background-color: red;">Delete</button>
                            <button style="background-color: blue;">Update</button>
                        </td>
                    </tr>
                    <tr>
                        <td>nagi</td>
                        <td>nagimaggi</td>
                        <td>nagimaggi@noodles.com</td>
                        <td>naginigga</td>
                        <td class="buttonTd">
                            <button style="background-color: red;">Delete</button>
                            <button style="background-color: blue;">Update</button>
                        </td>
                    </tr>
                    <tr>
                        <td>nagi</td>
                        <td>nagimaggi</td>
                        <td>nagimaggi@noodles.com</td>
                        <td>naginigga</td>
                        <td class="buttonTd">
                            <button style="background-color: red;">Delete</button>
                            <button style="background-color: blue;">Update</button>
                        </td>
                    </tr>
                    <tr>
                        <td>nagi</td>
                        <td>nagimaggi</td>
                        <td>nagimaggi@noodles.com</td>
                        <td>naginigga</td>
                        <td class="buttonTd">
                            <button style="background-color: red;">Delete</button>
                            <button style="background-color: blue;">Update</button>
                        </td>
                    </tr>
                    <tr>
                        <td>nagi</td>
                        <td>nagimaggi</td>
                        <td>nagimaggi@noodles.com</td>
                        <td>naginigga</td>
                        <td class="buttonTd">
                            <button style="background-color: red;">Delete</button>
                            <button style="background-color: blue;">Update</button>
                        </td>
                    </tr>
                    
                </table>
            </div>
            <!-- Course Popup -->
            <div >
<div class="container" id="Course-List" >
    <div class="card">
        <table class="tablePop">
            <tr>
                <th>course_name</th>
                <th>course_desc</th>
                <th>Action</th>
            </tr>
            <tr>
                <td>name</td>
                <td>desc</td>
                <td class="addBtn" style="text-align: center;">Add Course</td>
            </tr>
            <tr>
                <td>name</td>
                <td>desc</td>
                <td class="addBtn" style="text-align: center;">Add Course</td>
            </tr>
        </table>
    </div>
</div>
            </div>
        </div>
        <form action="{{ url_for('update_student', student_id=student.student_id) }}" method="POST" class="CourseForm">
            <p class="p">Update</p>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value="{{ student.username }}"><br><br>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="{{ student.email }}"><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" value="{{ student.password }}"><br><br>
            <button type="submit">Update</button>
        </form>
</body>
<script>
    function openCourse(){
        var courseList = document.getElementById("Course-List");
        if (courseList.style.display === "none" || courseList.style.display === "") {
            courseList.style.display = "flex";
            
        } else {
            courseList.style.display = "none";
        }
    }

    function showStudentList() {
            var studentList = document.getElementById("StudentList");
            var courseList = document.getElementById("CourseList");
            if (studentList.style.display === "none") {
                studentList.style.display = "block";
                courseList.style.display = "none";
                document.getElementById("stBtn").style.backgroundColor="green";
                document.getElementById("CBtn").style.backgroundColor="navy";
            }
        }

        function showCourseList() {
            var studentList = document.getElementById("StudentList");
            var courseList = document.getElementById("CourseList");
            if (courseList.style.display === "none") {
                courseList.style.display = "block";
                studentList.style.display = "none";
                document.getElementById("CBtn").style.backgroundColor="green";
                document.getElementById("stBtn").style.backgroundColor="navy";
            }
        }

</script>

</html>