<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/TeacherDash.css">
    <title>Teacher Dashboard</title>
</head>

<body>
        <div class="TeacherDashContent">
                <div class="navButton">
<a href="#StudentList"><button>Student List</button></a>
<h1>Teacher's Dashboard</h1>
<a href="#CourseList"><button>Course List</button></a>
                </div>
                <h2>Student List</h2>
                <!-- Student List -->
                <div class="table" id="StudentList">
                <table>
                    <tr>
                        <th>Stu_id</th>
                        <th>Stu_uname</th>
                        <th>Stu_email</th>
                        <th>Stu_pwd</th>
                    </tr>
                    <tr>
                        <td>nagi</td>
                        <td>nagimaggi</td>
                        <td>nagimaggi@noodles.com</td>
                        <td>naginigga</td>
                    </tr>
                    
                    <tr>
                        <td>nagi</td>
                        <td>nagimaggi</td>
                        <td>nagimaggi@noodles.com</td>
                        <td>naginigga</td>
                    </tr>
                    <tr>
                        <td>nagi</td>
                        <td>nagimaggi</td>
                        <td>nagimaggi@noodles.com</td>
                        <td>naginigga</td>
                    </tr>
                    <tr>
                        <td>nagi</td>
                        <td>nagimaggi</td>
                        <td>nagimaggi@noodles.com</td>
                        <td>naginigga</td>
                    </tr>

                     <tr>
                        <td>nagi</td>
                        <td>nagimaggi</td>
                        <td>nagimaggi@noodles.com</td>
                        <td>naginigga</td>
                    </tr>
                    <tr>
                        <td>nagi</td>
                        <td>nagimaggi</td>
                        <td>nagimaggi@noodles.com</td>
                        <td>naginigga</td>
                    </tr>
                    <tr>
                        <td>nagi</td>
                        <td>nagimaggi</td>
                        <td>nagimaggi@noodles.com</td>
                        <td>naginigga</td>
                    </tr>
                    <tr>
                        <td>nagi</td>
                        <td>nagimaggi</td>
                        <td>nagimaggi@noodles.com</td>
                        <td>naginigga</td>
                    </tr>
                    <tr>
                        <td>nagi</td>
                        <td>nagimaggi</td>
                        <td>nagimaggi@noodles.com</td>
                        <td>naginigga</td>
                    </tr>
                    <tr>
                        <td>nagi</td>
                        <td>nagimaggi</td>
                        <td>nagimaggi@noodles.com</td>
                        <td>naginigga</td>
                    </tr>
                    <tr>
                        <td>nagi</td>
                        <td>nagimaggi</td>
                        <td>nagimaggi@noodles.com</td>
                        <td>naginigga</td>
                    </tr>
                    




                </table>
            </div>
            <h2>Course List</h2>
            <!-- Course List -->
            <div class="table" id="CourseList">
                <table>
                    <tr>
                        <th>Stu_id</th>
                        <th>Stu_uname</th>
                        <th>Stu_email</th>
                        <th>Stu_pwd</th>
                    </tr>
                    <tr>
                        <td>nagi</td>
                        <td>nagimaggi</td>
                        <td>nagimaggi@noodles.com</td>
                        <td>naginigga</td>
                    </tr>
                </table>
            </div>
        </div>
</body>

</html>