<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/TeacherDash.css">
    <title>Teacher Dashboard</title>
</head>

<body>
    <div class="outerTDash">
        <!-- SideBar -->
        <div class="sideBar">
            <ul>
                <div class="teacherBio">
                    <li><img src="/static/Images/Web development.jpg" alt="image">
                        <h3>Teacher Name</h3>
                    </li>
                </div>
                <li><a href="">Courses list</a></li>
                <li><a href="">Students list</a></li>
            </ul>
        </div>
        <div class="TechDashContent">
            <div class="TDashBanner">
                <!-- Banner -->
                <h1>Teacher's Dashboard</h1>
            </div>
            <div class="TDtable">
                <table>
                    <tr>
                        <th>Stu_id</th>
                        <th>Stu_uname</th>
                        <th>Stu_email</th>
                        <th>Stu_pwd</th>
                    </tr>
                    <tr>
                        <td>nagi</td>
                        <td>nagimaggi</td>
                        <td>nagimaggi@noodles.com</td>
                        <td>naginigga</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>